name: Release

on:
  push:        # 任意分支的 push 都会触发工作流（但 releaser 只有在 tag 时执行）
  pull_request: # PR 打开/同步/重新打开 时也会触发
  workflow_dispatch: # 手动触发

permissions:
  contents: write
  packages: write

jobs:
  releaser:
    # if: startsWith(github.ref, 'refs/tags/') # 仅当 push tag 时真正执行发布
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Tag
        run: git fetch --force --tags

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: stable

      - name: Release
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}